@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
:root {
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    /* ### Neutral */
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

img {
    width: 100%;
    display: block;
}

h1,
h2,
h3,
h4 {
    color: var(--Dark-Grayish-Blue);
    margin-bottom: 1rem;
}

p {
    color: var(--Grayish-Blue);
    line-height: 1.5;
    font-size: 0.9rem;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Bai Jamjuree', sans-serif;
    /* background: var(--Grayish-Blue); */
}

.header {
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem;
    text-align: center;
    width: 100%;
}

.header__logo {
    width: 5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}

.header__title {
    font-size: 1.7rem;
}

.header__text {
    line-height: 1.5;
    margin-bottom: 2rem;
}

.btn__container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 4rem;
}

.btn {
    border: none;
    color: #fff;
    padding: 1rem;
    border-radius: 5rem;
    font-size: 1.1rem;
    font-weight: 600;
    letter-spacing: 0.05rem;
    cursor: pointer;
}

.btn__ios {
    background: var(--Strong-Cyan);
    box-shadow: 1px 2px 1px hsl(171, 86%, 28%);
}

.btn__ios:hover {
    box-shadow: 1px 2px 15px 3px hsl(171, 86%, 28%);
}

.btn__mac {
    background: var(--Light-Blue);
    box-shadow: 1px 2px 1px hsl(233, 59%, 56%);
}

.btn__mac:hover {
    box-shadow: 1px 2px 15px 3px hsl(233, 59%, 56%);
}

.devices__img {
    margin: 2rem 0 5rem 0;
}


/* MAIN */

main {
    padding: 3rem;
    text-align: center;
}

.computer__img {
    margin: 3rem 0;
    height: auto;
}

.feature {
    margin-bottom: 2rem;
}

div.feature:last-of-type {
    margin-bottom: 8rem;
}

.main_text_3 {
    margin-bottom: 5rem;
}

.icon {
    width: 2rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
}

.main__3__list li {
    margin-bottom: 2.5rem;
}

ul.main__3__list li:last-of-type {
    margin-bottom: 7rem;
}

.logo {
    width: 7rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.main__text__5 {
    margin-bottom: 2rem;
}


/* FOOTER */

footer {
    padding: 3rem;
    width: 100%;
    text-align: center;
    background: hsl(190, 33%, 96%);
}

.logo__footer {
    width: 3rem;
    margin-left: auto;
    margin-right: auto;
}

.access__links {
    line-height: 2;
    margin: 2rem 0;
}

.social__links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.access__link {
    color: var(--Dark-Grayish-Blue);
    display: block;
}

.social__logo {
    width: 1rem;
}

@media (min-width: 600px) {
    p {
        font-size: 1.1rem;
    }
    .header div:first-of-type,
    section.one div:first-of-type {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
    }
    .header {
        background: url(images/bg-header-desktop.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
    .btn__container {
        flex-direction: row;
        justify-content: center;
    }
    .section__1__flex {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: space-between;
    }
    .computer__img {
        position: relative;
        left: -5rem;
    }
    .features {
        padding-top: 6rem;
    }
    .feature {
        text-align: start;
    }
    .feature__1 {
        margin-left: 0 !important;
        margin-right: auto;
    }
    .two div {
        width: 70%;
        margin: 0 auto;
    }
    .text__two {
        width: 70%;
        margin: 0 auto;
    }
    .main__3__list {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 3rem;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
    .main__3__list li {
        width: 33%;
    }
    ul.main__3__list li:last-of-type {
        margin-bottom: 2.5rem;
    }
    .four div {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 3rem;
    }
    .main__text__5 {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
    footer {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .logo__footer {
        margin: 0;
    }
    .access__links {
        display: flex;
        justify-content: space-between;
        gap: 5rem;
    }
}